<h1><center> <%= @board.name %> </center></h1> 

<p style = "margin: 20px; border:2px solid gray;">


    <font color="red"> <%= @users.find(@post.user_id).username %> </font>
    <b><%= @post.title %></b> 
    <font color="gray"> <%= @post.post_datetime %> </font>

    <% if signed_in? %>
        <% if @post.user_id == current_user.id || current_user.id == Board.find(@post.board_id).user_id  %>
            <%= link_to "Eliminar", @post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %> 
        <% end %>
    <% end %>
    <br>
    <%= @post.content %>
    <center> <%= link_to "Responde a este post", new_reply_path(post_id: @post.id) %></center>
        <p style = "margin: 20px">
        <% @replies.each do |reply| %>    
            <font color="red"> <%= @users.find(reply.user_id).username %> </font>
            <font color="gray"> <%= reply.reply_datetime %> </font>                        
        
            <% if signed_in? %>
                <% if reply.user_id == current_user.id || current_user.id == Board.find(@post.board_id).user_id %>
                    <%= link_to "Eliminar", reply, method: :delete, data: { confirm: "¿Estás seguro de eliminar este comentario?" } %> 
                <% end %>
            <% end %>

            <br>
            <%= reply.contenido %>
            <br><br>
        <% end %>
        </p>


</p> 